-e .
django-debug-toolbar==1.11
django-filter==2.2.0
django-polymorphic==2.1.2
Faker==2.0.0
factory-boy==2.12.0
flake8==3.7.7
flake8-isort==2.7.0
isort==4.3.21
pytest==5.0.0
pytest-cov==2.7.1
pytest-django==3.5.1
pytest-factoryboy==2.0.3
recommonmark==0.6.0
Sphinx==2.1.2
sphinx_rtd_theme==0.4.3
twine==1.13.0
django-oauth-toolkit==1.2.0
oauthlib==2.1.0
