-e .
django-debug-toolbar
django-polymorphic>=2.0
factory-boy
Faker
isort
mock
packaging==16.8
pytest
pytest-django
pytest-factoryboy
recommonmark
Sphinx
sphinx_rtd_theme
tox
twine
django-filter>=2.0
